<div class="container">

    <div class="top-bar">

        <h2>Inventory Management</h2>

        <button
            class="back-btn"
            (click)="goBack()">

            ← Back to Orders

        </button>

    </div>

    <hr>

    <div *ngIf="loading">

        Loading Inventory...

    </div>

    <table *ngIf="!loading">

        <thead>

            <tr>

                <th>SKU</th>
                <th>Available Quantity</th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let item of inventory">

                <td>{{ item.sku }}</td>

                <td>{{ item.available_qty }}</td>

            </tr>

            <tr *ngIf="inventory.length === 0">

                <td colspan="2">

                    No Inventory Found

                </td>

            </tr>

        </tbody>

    </table>

</div>